/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #6b6b6b;    /* achtergrondkleur lichtgrijs */
  color: #000000;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 1px;                    /* standaard marge 0 */
}

#formule1logo {
  float:right;
  width:390px;
  margin-left: 10px;
}

.page {
  width: 800px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
}        

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 
.onderwerpen {
  color: black;
}
.linkjes {
  color:#c4c4c4;
}

#formule-startinggrid {
   width: 300px ;  
   float:left;
   padding-right:10px;
}

.onderwerp2 {
  font-weight:bold;
}

p {
  margin: 10px 0px;
             
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #ff2600;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
  color: #ff2600;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
  border-radius: 15px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #444444;
  border-radius: 15px;
}

nav li a.active {
    background-color: #ff2600;
  border-radius:15px ;
}

hr {
  border-color:black;
}

#redbullracing {
  margin-top: 10px;
  border-top:solid 5px #000047;
  border-top-right-radius: 5px;
  border-right:solid 5px #000047;
  height: 400px;
}

.redbull {
  color:red;
  margin-right: 80%;
  text-decoration: underline;
  }


#redbull1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #000047;
  padding-right: 5px;
}

#redbull2 {
  position: absolute;
  margin-left: 265px;

}

#redbullimage1 {
  width: 230px;/
  position: absolute;
  margin-left:550px;
  border-left: solid 3px #000047;
  padding-left: 15px;

}

#Max {
  color:red;
  position: absolute;
  margin-top: 13px;
  text-decoration: underline;
  
}

#redbull3 {
  position: absolute;
  padding-top: 23px;
  margin-left: 5px;
  border-right:solid 3px #000047;
  padding-right: 30px;
}

#Perez {
  color: red;
  position: absolute;
  margin-left: 265px ;
  margin-top: 13px;
  text-decoration: underline;
}

#redbull4 {
  position: absolute;
  margin-left: 265px;
  padding-top: 23px;
}

#mercedez-amg {
  margin-top: 10px;
  border-top:solid 5px #00b395;
  border-top-right-radius: 5px;
  border-right:solid 5px #00b395;
  height: 400px;
}


.mercedez {
  color:#f2f2f2;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#mercedez1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #00b395;
  padding-right: 5px;
}

#mercedez2 {
  position: absolute;
  margin-left: 265px;
}

#mercedezimage1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #00b395;
  padding-left: 16px;
}
#Lewis {
    color: white;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
}


#Mercedez3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #00b395;
  padding-right: 30px;
  margin-top: 25px;
}

#Rusell {
  color: white;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
}

#mercedez4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 25px;
}

#ferrari {
  margin-top: 10px;
  border-top:solid 5px #d60000;
  border-top-right-radius: 5px;
  border-right:solid 5px #d60000;
  height: 400px;
}


.ferrari-team {
  color:#000000;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#ferrari1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #d60000;
  padding-right: 5px;
}

#ferrari2 {
  position: absolute;
  margin-left: 265px;
}

#ferrari-image1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #d60000;
  padding-left: 16px;
}
#charles {
    color: #000000;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
}


#ferrari3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #d60000;
  padding-right: 30px;
  margin-top: 25px;
  
}

#carlos {
  color: #000000;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
}

#ferrari4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 25px;
}

#mclaren {
  margin-top: 10px;
  border-top:solid 5px #ffae00;
  border-top-right-radius: 5px;
  border-right:solid 5px #ffae00;
  height: 400px;
}


.mclaren-team {
  color:#ffffff;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#mclaren1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #ffae00;
  padding-right: 5px;
}

#mclaren2 {
  position: absolute;
  margin-left: 265px;
  

}

#mclarenimage1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #ffae00;
  padding-left: 16px;
}
#norris {
    color: #ffffff;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 17px;
}


#Mclaren3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #ffae00;
  padding-right: 30px;
  margin-top: 40px;
  
}

#riciardo {
  color: #ffffff;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 17px;
}

#mclaren4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 40px;
}

#alpine-f1 {
  margin-top: 10px;
  border-top:solid 5px #0063cc;
  border-top-right-radius: 5px;
  border-right:solid 5px #0063cc;
  height: 400px;
}


.alpine {
  color:#f7b1da;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#alpine1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #0063cc;
  padding-right: 5px;
}

#alpine2 {
  position: absolute;
  margin-left: 265px;
}

#alpine-image1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #0063cc;
  padding-left: 16px;
}
#alonso {
    color: #f7b1da;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 30px;
}


#alpine3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #0063cc;
  padding-right: 30px;
  margin-top: 52px;
  
}

#ocon {
  color: #f7b1da;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 30px;
}

#alpine4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 52px;
}

#aston-f1 {
  margin-top: 10px;
  border-top:solid 5px #007552;
  border-top-right-radius: 5px;
  border-right:solid 5px #0c7958;
  height: 400px;
}


.aston {
  color:#f2f2f2;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#aston1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #0c7958;
  padding-right: 5px;
}

#aston2 {
  position: absolute;
  margin-left: 265px;
  

}

#astonimage1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #0c7958;
  padding-left: 16px;
}
#vettel {
    color: white;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 38px;
}


#aston3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #0c7958;
  padding-right: 30px;
  margin-top: 60px;
  
}

#stroll {
  color: white;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 38px;
}

#aston4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 60px;
}


#romeo-f1 {
  margin-top: 10px;
  border-top:solid 5px #8e2929;
  border-top-right-radius: 5px;
  border-right:solid 5px #8e2929;
  height: 400px;
}


.romeo {
  color:#f2f2f2;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#romeo1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #8e2929;
  padding-right: 5px;
}

#romeo2 {
  position: absolute;
  margin-left: 265px;
}

#romeo-image1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #8e2929;
  padding-left: 16px;
}
#bottas {
  color: white;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 38px;
}


#romeo3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #8e2929;
  padding-right: 30px;
  margin-top: 60px;
}

#zhou {
  color: white;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 38px;
}

#romeo4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 60px;
}


#tauri-f1 {
  margin-top: 10px;
  border-top:solid 5px #031f44;
  border-top-right-radius: 5px;
  border-right:solid 5px #031f44;
  height: 400px;
}


.tauri {
  color:#f2f2f2;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#tauri1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #031f44;
  padding-right: 5px;
}

#tauri2 {
  position: absolute;
  margin-left: 265px;
  

}

#tauri-image1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #031f44;
  padding-left: 16px;
}
#gasly {
    color: white;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 38px;
}


#tauri3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #031f44;
  padding-right: 30px;
  margin-top: 60px;
  
}

#tsunoda {
  color: white;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 38px;
}

#tauri4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 60px;
}


#haas-f1 {
  margin-top: 10px;
  border-top:solid 5px #ffffff;
  border-top-right-radius: 5px;
  border-right:solid 5px #ffffff;
  height: 400px;
}


.haas {
  color:#d10000;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#haas1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #ffffff;
  padding-right: 5px;
}

#haas2 {
  position: absolute;
  margin-left: 265px;
  

}

#haas-image1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #ffffff;
  padding-left: 16px;
}
#kevin {
    color: #d10000;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 38px;
}


#haas3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #ffffff;
  padding-right: 30px;
  margin-top: 60px;
  
}

#mick {
  color: #d10000;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 38px;
}

#haas4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 60px;
}

#williams-f1 {
  margin-top: 10px;
  border-top:solid 5px #10478e;
  border-top-right-radius: 5px;
  border-right:solid 5px #10478e;
  height: 400px;
}


.williams {
  color:#f2f2f2;
  margin-right: 55%;
  float: left;
  text-decoration: underline;
  }

#williams1 {
  position: absolute;
  width: 250px;
  margin-left: 5px;
  border-right:solid 3px #2578e4;
  padding-right: 5px;
}

#williams2 {
  position: absolute;
  margin-left: 265px;
  

}

#williams-image1 {
  width: 230px;
  margin-left: 550px;
  border-left:solid 3px #2578e4;
  padding-left: 16px;
}
#albon {
    color: white;
  position: absolute;
  margin-left: 5px;
  text-decoration: underline;
  margin-top: 38px;
}


#williams3 {
  position: absolute;
  margin-left: 5px;
  border-right:solid 3px #2578e4;
  padding-right: 30px;
  margin-top: 60px;
  
}

#latifi {
  color: white;
  position: absolute;
  margin-left: 265px ;
  text-decoration: underline;
  margin-top: 38px;
}

#williams4 {
  position: absolute;
  margin-left: 265px;
  margin-top: 60px;
}